<div class ="page_header">
</div>
<!-- Yo: Don't think you want to nest containers like this- layout is wonky because of it
TODO: Rewrite with either floats or columns, not both -->
<div class="container col-sm-8 pull-left">
  <% candidates.forEach(function(state){ %>
    <div class="row container state" input_id="<%= state.name %>">

        <div class="col-sm-7">
        <h2><%= state.name%></h2>
        <div class="well">
        <% state.candidates.forEach( function (candidate) {%>
          <div class="row">
              <div class="candidateRow" input_id="<%=candidate.CandidateId%>">
                <div class="col-sm-8">
                      <h4><%=candidate.firstName%> <%=candidate.lastName%><span style='font-size:.75em;color:gray'> (<%=candidate.email%>)</span></h4>
                      <span class="text-muted"><%=candidate.tagLine%></span>
                    </div>
                <div class="col-sm-2 pull-right">
                  <a class="movelink" style="cursor:pointer"> Move </a>
                </div>
              </div>
          </div>
        <%})%>
      </div>
      </div>
    </div>
  <%})%>
</div>

<div class="col-sm-4 pull-right" style="margin-top:30px">
  <div class="row col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Filter By:</div>
      <div class="panel-body">
        <div class="btn-group">
            <label for="recruit_btn" class="col-sm-3 control-label">Recruiter: </label>
            <button id="recruit_btn" type="button" class="btn btn-default dropdown-toggle form-control col-sm-8" data-toggle="dropdown"><span class="caret"></span></button>
            
            <ul id="recruit_list" class="dropdown-menu">
              <li input_id="-1" name="All"><a>All</a></li>
              <% recruiters.forEach(function(recruiter){ %>
              <li input_id="<%= recruiter.Recruiter_PersonId %>" name="<%= recruiter.Name %>"><a><%= recruiter.FirstName + " " +recruiter.LastName %></a></li>
              <% })%>
            </ul>

        </div>
        <div class="btn-group">
            <label for="owner_btn" class="col-sm-3 control-label">Owner: </label>
            <button id="owner_btn" type="button" class="btn btn-default dropdown-toggle form-control col-sm-8" data-toggle="dropdown"><span class="caret"></span></button>
            <ul id="owner_list" class="dropdown-menu">
              <li input_id="-1" name="All"><a>All</a></li>
              <% persons.forEach(function(person){ %>
              <li input_id="<%= person.PersonId %>" name="<%= person.FirstName %>"><a><%= person.FirstName + " " + person.LastName %></a></li>
              <% })%>
            </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Active</div>
      <div class="panel-body">
        <% candidates.forEach(function(state){ %>
          <div class="row">
              <div class="col-sm-4">
                  <i class="glyphicon glyph<%= state.icon%>"></i>
                  <%= state.name%> (<%= state.candidates.length%>)
              </div>
              <div class="col-sm-6">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                      <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                      <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 45%">
                      <span class="sr-only">10% Complete (danger)</span>
                    </div>
                  </div>
              </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>


<!-- Modal dialog to add positions -->
<div class="modal" id="addNewPositionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add New Position</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputPositionName">Position Name</label>
          <input type="text" class="form-control" name="positionName" id="inputPositionName" placeholder="Position Name">
        </div>
          <div class="form-group">
            <label for="inputPositionDescription">Description</label>
            <input type="text" class="form-control" name="description" id="inputPositionDescription" placeholder="Description">
          </div>
        <div class="form-group">
          <label for="inputRequisitionLink">Requisition Link</label>
          <input type="text" class="form-control" name="reqLink" id="inputRequisitionLink" placeholder="Link to Requisition">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="btnSavePosition" data-saving-text="Saving..." class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="changeStateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Move Candidate to New Stage</h4>
      </div>
      <div class="modal-body">
        <label for="stage_btn" class="col-sm-3 control-label">Pick new stage: </label>
        <div class="btn-group">
            <button id="stage_btn" type="button" class="btn btn-default dropdown-toggle form-control col-sm-8" data-toggle="dropdown"><span class="caret"></span></button>
            
            <ul id="state_list" class="dropdown-menu">
              <% all_states.forEach(function(state){ %>
              <li input_id="<%= state.StageId %>" name="<%= state.Name %>"><a><%= state.Name %></a></li>
              <% })%>
            </ul>
            <input id="stage_value" type="hidden"/>
            <input id="candidate_value" type="hidden"/>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="btnSaveStage" data-saving-text="Saving..." class="btn btn-primary">Save Change</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(function () {
  $(".movelink").click(function(e){
    var parent_id = $(this).closest(".candidateRow").attr("input_id");
    var old_state_id = $(this).closest(".state").attr("input_id");
    $("#stage_value").val(old_state_id);
    $("#candidate_value").val(parent_id);
    var name = $("#state_list").find("li[name='"+old_state_id+"']").text();
    $("#stage_btn").html(name + " <span class='caret'></span>");
    $("#changeStateModel").modal();
    $("#btnSaveStage").click(saveState);
  });
  $("#changeStateModel").find("li").click(function(e){
    $("#stage_value").val($(this).attr("input_id"));
    $("#stage_btn").html($(this).text() + " <span class='caret'></span>");
  });
});
</script>
