<div class ="page_header">
  <h1> Import the Spreadsheet </h1>
</div>
<div class="container col-sm-8 pull-left">
<table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% candidates.forEach(function(candidate){ %>
      <tr>
        <td><%=candidate.firstName%> </td>
        <td><%=candidate.firstName%> </td>
        <td><%=candidate.email%> </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>